body { 
  background-image: url("https://media.istockphoto.com/id/1134776458/photo/pink-tulips-border-on-pink-background-copy-space-top-view-holiday-background.jpg?s=612x612&w=0&k=20&c=kd2_o35rm605GnEH7VI8XlXPsxJZ-lggHTVNfggqDwk=");
}
.navigation {
  background-color: #f5c5d3;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 5;
  overflow: hidden;
  background-color: #f5c5d3;
  position: sticky;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: #27418c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: lightblue;
  border-radius: 30px;
}
.businessname {color: #27418c;
               font-family: Brush Script MT;
               font-size: 32px;
               text-align: left;
               text-indent: 40px;
}
.logo {width: 50px;
       height: 50px;
       border-radius: 100%;
       float: left;
       padding: 4;
}
h4.kae { 
       text-align: center;
}
.tutorial {
      width: 500px;
      height: 250px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 20px;
      transition: 0.4s;
}
.tutorial:hover {
      transform: scale(1.08);   
 } 
.tagline {
      font-family: Courier;
      text-align: center;
      color: blue;
}
.bg {
      font-family: Georgia;
      text-align: justify;
      font-weight: bold;
}
.mission {
      text-align: center;
      transition: 0.4s;
}
.mission:hover {
      transform: scale(1.08); 
}
.themission {
      text-align: justify;
}
blockquote {
      text-align: center;
      color: gray;
}
